body {
    margin: 0;
    color: white;
    background-color: rgb(73, 136, 194);
}
html {
    color: white;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    color: white;
    font-size: 24px;
}



.logo {
    float: left;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11111;
    width: 100%;
    background-color:  rgb(73, 136, 194);
    color: white;
    padding: 0.5px 130px;
    /* padding-bottom: 5px; */
  
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}

.menu ul {
float: right;
}


.menu ul li {
    /* float: right; */
    margin-right: 40px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

.pocetna {
    width: 100%;
    height: 55vh;
    text-align: center;
    padding-top: 110px;
}

.col {
    float: left;
    /* display: inline-block; */
   }
   
   .col h2 {
       color: black;
       font-size: 32px;
   }
   
   .col-1 {
       width: 25%;
       background-color: rgb(216, 211, 211);
       text-align: center;
       padding: 48px;
     
   }

   .container-1 {
       width: 100%;
       height: 50vh;
   }

   .coll {
    float: left;
    font-size: 22.2px;
    
}

.coll-1 {
    width: 50%;
   
    text-align: center;
    padding: 75px 36px 85px 20px;

}
.coll-1 .upp h1, h2, h3, p {
        margin-top: 0;
        color: white;
        font-size: 27px;
    }

    .coll-1 .up h1, h2, h3, p {
        margin-top: 0;
        color: white;
        font-size: 30px;
    }

    .container-2 {
        width: 100%;
        height: 50vh;
    }

    .c-silver {
        background-color: lightgrey;
      }
    
      .c-tan {
          background-color: rgb(189, 174, 154);
      }
    
      .c-ligreen {
          background-color: rgb(156, 232, 156);
      }
    
      .c-gray1 {
         
          background-color: rgb(157, 157, 157)
      } 
    
      .c-blue {
         background-color: #cce6ff;
      }

      .last {
          width: 100%;
          /* height: 10vh; */
      }

      .team {
          float: left;
          width: 33.333%;
      }


      .end-1 {
        width: 100%;
        padding: 11px;
        background-color: rgb(61, 43, 79);
        color: white;
        text-align: center;
    }

    .social {
        width: 100%;
        height: 70vh;
        background-color: rgb(100, 193, 250);
    }

    .last {
        width: 100%;
        height: 30vh;
        background-color: #464646;
    }
    
    .last h2 {
        font-size: 32px;
    }
    
    .last {
        text-align: center;
        padding-top: 91px;
    }
    
    .logo-3 ul li {
        display: inline;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .logo-3 ul a {
        text-decoration: none;
    }
    
    .logo-3 ul li a {
        color: white;
        
        font-size: 20px;
    }  

    .logo-3 ul li a {
        margin-right: 15px;
        
    }
    
    .logo-3 i {
        font-size: 31px;
    }
    
        
