body {
    margin: 0;

}


* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    color: white;
    font-size: 24px;
}

img {
    max-width: 100%;
    display: block;
}




.container {
    width: 100%;
    display: flex;
    padding: 0 90px
}

.left {
    width: 20%;
    justify-content: flex-start;
    position: relative;
}

.container-1 {
    width: 80%;
    display: flex;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgray;
}
ul li {
    list-style-type: none;
    padding-top: 20px;
}

/* .menu nav ul li {
    justify-content: flex-start;
} */

.menu {
    margin-right: 127px;
    margin-top: 84px;
}

ul {
    padding-left: 0;
}

nav  {
    margin-top: 100px;
}

.footer p {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
}

/* .one-img {
    position: relative;
} */

.image {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: white (0, 0, 0, 0.6);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}






.one {
    width: 80%;
    /* float: left; */
}
.flex-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.one-img {
    width: 33.33%;
    position: relative;
    height: 459px;
}



.text {
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.pic1 {
    background-image: url('./work1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic1 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic1:hover {
    background-color: white !important;
    background-image: none;
}
.pic1 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic1:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
ul li a:hover {
    color: gray;
}
.pic2 {
    background-image: url('./work2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic2 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic2:hover {
    background-color: white !important;
    background-image: none;
}
.pic2 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic2:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic4 {
    background-image: url('./work4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic4 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic4:hover {
    background-color: white !important;
    background-image: none;
}
.pic4 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic4:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic5 {
    background-image: url('./work5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic5 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic5:hover {
    background-color: white !important;
    background-image: none;
}
.pic5 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic5:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic3 {
    background-image: url('./work3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic3 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic3:hover {
    background-color: white !important;
    background-image: none;
}
.pic3 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic3:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic6 {
    background-image: url('./work6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic6 .text {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: transparent;
}
.pic6:hover {
    background-color: white !important;
    background-image: none;
}
.pic6 .text:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.pic6:hover .text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
