img {
    width: 100%;
}
.bg-img-family {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./home.jpg);
     /* width: 100%;
    padding: 50px 50px;
    bottom: 0;
    opacity: 0.7;
    background-color: rgb(0, 0, 0); 
         */

}

.bg-img-family h2 {
    font-weight: bold;
}

h1 {
    font-weight: bold
}

.bg-blue {
    background: #4900d5;
}

.bg-2 {
    background-color: #393939;
}

 .explore {
    height: 30%; 
} 

.bg-brovn {
    background-color: #393939;
}

span {
    color: red;
}

.img-size {
    width: 70px;
    height: 60px;
}

.bg-img-3 {
    background: url('./share-section11.jpg');
}
.blue-form {
    padding: 20px;
}

.cl-white {
    background-color: white;
    color: cornflowerblue;
    font-size: 30px;
}

.cl-black {
    background-color: black;
    font-size: 30px;
} 