body {
    margin: 0;
    color: white;
    background-color: #272833;
}
html {
    color: white;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    color: white;
    font-size: 24px;
}

img {
    max-width: 100%;
}


nav {
    width: 100%
}


nav .right {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.right ul {
    display: inline-flex;
    list-style: none;
}
nav .left {
    list-style-type: none;
    width: 50%;
    float: left;
}
.left ul {
    list-style-type: none;
}

ul li a {
text-decoration: none;
padding-left: 20px;
color: #fff;
font-size: 23px;
text-align: center;
}

.right button {
    padding: 3px 4px;
    margin-left: 20px;
    background-color: #e44c65;
    color: #fff;
    font-size: 5px;
    border-radius: 6px;
    border: 1px solid #e44c65;
}

.right button a {
    font-size: 15px;
    margin-right: 2px;
    
}

.container {
    max-width: 1865px;

}

.left {
    float: left;
}
#one {
    width: 100%;
    height: 100vh;
}

.text {
     text-align: center;
    margin-top: 300px; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.text h1 {
    font-size: 46px;
    font-weight: bold;
}

#two {
    width: 100%;
    height: 100vh; 
    background-image: url(./picture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

.wr {
    width: 100%;
    padding: 50px 50px;
    position:absolute;
    bottom: 0;
    opacity: 0.7;
    background-color: Black;
    border-top: 5px solid red;
    font-size: 20px;
   
}

.wr div {
    width: 33.333%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
}


#thre {
    width: 100%;
    height: 100vh;
    background-image: url(./picture2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
   
}

.thre {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.desno div {
    width: 30%;
    align-items: flex-end;
}


#last {
    width: 100%;
    height: 100vh;
    background-image: url(./picture3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
.desno {
    position: absolute;
    width: 26%;
    height: 100%;
    right: 0;
    padding-right: 25px;
    border-left: 5px solid blue;
    padding-left: 11px;
    opacity: 0.7;
    background-color: Black;
    padding-left: 35px;
    padding-top: 161px;
    /* font-size: 30px; */
}
.desno h2 {
    margin-top: 60px;
}

.desno h2,
p {
    font-size: 30px;
}

.levo {
    position: absolute;
    width: 26%;
    height: 100%;
    left: 0;
    padding-right: 25px;
    border-right: 5px solid greenyellow;
    padding-left: 11px;
    opacity: 0.7;
    background-color: Black;
    padding-left: 35px;
    padding-top: 161px;
}
.levo h2 {
    margin-top: 60px;
}

.levo h2,
p {
    font-size: 30px;
}


#four {
    width: 100%;
    height: 100vh;
    padding: 60px 50px
    border-top
}
.boxes {
    width: 33.333%;
    float: left;
    text-align: center;
    padding-bottom: 40px;
}
.btn {
    color: white;
    background-color: transparent;
    padding: 10px 23px;
 
}

.cn {
    text-align: center;
    font-size: 26px;
   /* margin-left: auto;
   margin-right: auto; */
}

.bor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid red ;
    width: 20%;
    padding-top: 46px;
}



.gg {
    display: flex;
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    line-height: 98px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50%;
    margin-bottom: 15px;
}

.bt .btn {
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
  
}

.end {
    width: 100%;
    height: 40vh;
    background-color: rgb(223, 87, 87);
   
}

.end-1 {
    text-align: center;
    padding-top: 70px;
    
}

.fs {
    font-size: 35px
}

.bt {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    padding: 12px;
    border: solid 1px white;
    color: white;
    border-radius: 3px;
    width: 250px;
    background-color:  rgb(223, 87, 87);
}





.form label {
    transform-origin: 0 0;
}

nav .center {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.center ul {
    display: inline-flex;
    list-style: none;
} 

.get input {

}
