.bg-about {
    background: url(./image1.jpg);
    position: relative;
    background-attachment: fixed;
}

.vh-50 {
    padding-bottom: 15rem;
    padding-top: 15rem;
}

.vh-30 {
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.fs {
    font-size: 23px;
}

.bg-black {
    background-color: black;
}

.img-b {
    margin-top: -114px;
}

