.bg-about {
    background: url(./image1.jpg);
    position: relative;
    background-attachment: fixed;
}

.vh-50 {
    padding-bottom: 15rem;
    padding-top: 15rem;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: #007bff;
}

#cards {
    width: 100%;
    float: left;
    padding: 50px 0;
}
.container {
    max-width: 1150px !important;
}

.bg-black {
    background: black;
}