/* .bg-about {
    background: url(./ContactTablet.png);
} */
.bg-contact {
    background: url(./image1.jpg);
    position: relative;
    background-attachment: fixed;
}

.vh-50 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.vh-25 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg-black {
    background-color: black;
}
#contact-form {
    width: 100%;
    float: left;
    padding: 50px 0;
}
.btn_form {
    border: 1px solid gray !important;
}
.btn_form:hover {
    color: red !important;
    background-color: white !important;
    border: 1px solid red !important;
}

.f-size {
    font-size: 10px;
}

.color-black {
    color: black;
}

.border-bottom {
    border-bottom: 3px solid black !important;
}