.bg-about {
    background: url(./image1.jpg);
    position: relative;
    background-attachment: fixed;
}

.vh-50 {
    padding-bottom: 15rem;
    padding-top: 15rem;
}

.vh-25 {
    padding-bottom: 9rem;
    padding-top: 9rem;
}

.bg-black {
    background-color: black;
}
.arrow_true {
    width: 30px;
    height: 30px;
}
.br-gr {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.br-col {
    border-top: 1px solid gray;
}
.br-last {
    border-bottom: 1px solid gray;
}
.btn-link {
    color: white !important;
}
.cr-hd {
    background-color: rgb(22, 22, 22) !important;
    border: 1px solid rgb(22, 22, 22) !important;
}
.card-bg {
    border: 1px solid rgb(22, 22, 22) !important;
    margin-bottom: 20px;    
}
.card-body-bg {
    background-color: rgb(22, 22, 22) !important;
    color: white !important;
}