body {
    margin: 0;
   
   
}


* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    /* color: white; */
    font-size: 24px;
}

img {
    max-width: 100%;
}

.one {
    width: 100%;
    height: 100vh;
    background-image: url(./image1.jpg);
    background-size: contain;
    background-attachment: fixed;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par p {
    border: solid black;
    background-color: black;
 color: white;
 font-size: 62px;
}

.text {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
padding-right: 40px;
}

.two {
    width: 100%;
    height: 100vh;
    background-image: url(./image2.jpg);
    /* background-size: 70%; */
    background-repeat: repeat-y;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.par-1 p {
 color: white;
 font-size: 62px;
}

.text-1 {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
padding-right: 40px;
}

.three {
    width: 100%;
    height: 100vh;
    background-image: url(./image3.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.par-3 p {
    color: white;
    font-size: 62px;
   }


.text-2 {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
padding-right: 40px;
}

.last {
    width: 100%;
    height: 100vh;
    background-image: url(./image1.jpg);
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-4 p {
    border: solid black;
    background-color: black;
 color: white;
 font-size: 62px;
}

@media screen and (max-width: 768px) {
    .text-1 {
        height: 37vh;
    }
    .par p {
        font-size: 46px;
    }
    .par-1 p {
        font-size: 45px;
    }
    .par-3 p {
        font-size: 47px;
    }
    .text-2 {
        height: 37vh;
    }
    .par-4 p {
        font-size: 47px;
    }
}

@media ( max-width:530px) {
    .par p {
        border: solid black;
        background-color: black;
     color: white;
     font-size: 22px;
    }

    .one {
         width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 414px) {
    .one{
        justify-content: flex-end;
    }
    .par-1 p {
        font-size: 30px;
    }
    .text-1 {
        height: 56vh;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 20px; 
        padding-right: 20px;
    }
    .text-1 p {
        font-size: 20px;
    }
    .par-3 p {
        font-size: 30px;
    }
    .text-2 {
        height: 56vh;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 20px; 
        padding-right: 20px;
    }
    .text-2 p {
        font-size: 20px;
    }
    .last{
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .par-4 p {
        font-size: 40px;
    }
}